<h1><%= @tweet.subject %></h1>

<% if @tweet.images.attached? %>
  <div>
<% @tweet.images.first(3).each do |image| %>
   <%= image_tag image.variant(resize_to_limit: [400, 400]).processed %>
<% end %>
  </div>
<% end %>

<p>日付: <%= @tweet.activity_date %></p>

<p>内容：</p>
<p><%= simple_format(@tweet.text) %></p>

<hr>

<p>
  カテゴリーID: <%= @tweet.category.name %><br>
  時間ID: <%= @tweet.duration.name %><br>
  強度ID: <%= @tweet.intensity.name %><br>
  評価ID: <%= @tweet.rating.name %>
</p>

<%= link_to "一覧へ戻る", tweets_path %>
