<h1><%= @tweet.subject %></h1>

<p>日付: <%= @tweet.activity_date %></p>

<p>内容：</p>
<p><%= simple_format(@tweet.text) %></p>

<hr>

<p>
  カテゴリーID: <%= @tweet.category_id %><br>
  時間ID: <%= @tweet.duration_id %><br>
  強度ID: <%= @tweet.intensity_id %><br>
  評価ID: <%= @tweet.rating_id %>
</p>

<%= link_to "一覧へ戻る", tweets_path %>
